*.pyc
.DS_Store
snippets.ipynb
.ipynb_checkpoints
*.log
*.sqlite
db.json
pdfs
powerpoints
ppt_images
draft*.ipynb
Untitled*.ipynb
gov-au-cdx*
defence*
aus-gov*
notes.md
pandora*
domains
screenshots
text
gov_domains.csv
gov_domains.json
gov-au-unique-domains.csv
govau_tree.svg
govau-all-1000.png
govau-all.svg
nsw_domains.json
nzwa-links.csv
treasury-domains.png
embassy-domains.png
requirements.txt.old
requirements-unpinned-tocheck.txt
requirements-old.txt
README.md_old
images/nla_tree.png
domains/gov-au-unique-domains.csv
images/govau-all-20220406163631.svg
.env