jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
beautifulsoup4
arrow
requests
newick
ndjson
requests_cache
readability-lxml
PyMuPDF
pandas
ipykernel
selenium
pillow
surt
fuzzysearch
lxml
tqdm
trafilatura
ipywidgets
jsons
sqlite_utils
numpy
altair
python-slugify
webdriverdownloader
datasette
datasette-render-images==0.3.2
git+https://github.com/edsu/htmldiff@b3a4d0d9eade7ce7e6487948a631f8b02d6f5c9a#egg=htmldiff
scikit-learn
unoconv
jupyter-server-proxy
ete3
PyQt5
appmode
