aiofiles==0.4.0
aiohttp==3.6.2
altair==4.1.0
appmode==0.7.0
arrow==0.15.5
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bibtexparser==1.1.0
bleach==3.1.5
bleach-extras==0.0.3
blis==0.4.1
brotlipy==0.7.0
catalogue==1.0.0
certifi
cffi==1.14.0
chardet==3.0.4
click==7.1.1
click-default-group==1.2.2
cryptography==2.9.2
cssselect==1.1.0
cymem==2.0.3
datasette==0.40
datasette-render-images==0.1
decorator==4.4.2
defusedxml==0.6.0
docker==4.2.0
entrypoints==0.3
escapism==1.0.1
ete3==3.1.1
future==0.18.2
fuzzysearch==0.7.2
Genshi==0.7.3
h11==0.9.0
html5lib==1.0.1
htmldate==0.6.2
-e git+https://github.com/edsu/htmldiff@b3a4d0d9eade7ce7e6487948a631f8b02d6f5c9a#egg=htmldiff
htmldiffer==0.25.2
httptools==0.1.1
hupper==1.10.2
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
janus==0.4.0
jedi==0.17.0
Jinja2==2.10.3
joblib==0.15.1
json5==0.9.0
jsons==1.1.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-archive==0.6.2
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-notebookparams==0.0.4
jupyter-repo2docker==0.11.0
jupyter-server-proxy==1.4.0
jupyterlab==2.1.2
jupyterlab-server==1.1.1
jusText==2.2.0
lxml==4.5.0
MarkupSafe==1.1.1
mergedeep==1.1.1
mistune==0.8.4
multidict==4.7.6
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.6
ndjson==0.3.1
newick==1.0.0
notebook==6.0.3
numpy==1.18.4
olefile==0.46
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pdfminer.six==20200402
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
Pint==0.11
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser==2.20
pycryptodome==3.9.7
Pygments==2.6.1
PyMuPDF==1.16.18
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12.0
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-json-logger==0.1.11
python-slugify==4.0.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
readability-lxml==0.7.1
requests==2.23.0
requests-cache==0.5.0
requests-file==1.5.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
semver==2.10.1
Send2Trash==1.5.0
simpervisor==0.3
six==1.14.0
sortedcontainers==2.1.0
soupsieve==1.9.4
sqlite-utils==2.7
srsly==1.0.2
surt==0.3.1
tabulate==0.8.7
terminado
testpath==0.4.4
text-unidecode==1.2
thinc==7.4.0
threadpoolctl==2.0.0
tldextract==2.2.2
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.45.0
trafilatura==0.4.1
traitlets==4.3.3
typish==1.6.0
Unidecode==1.1.1
unoconv==0.9.0
urllib3==1.25.9
uvicorn==0.11.3
uvloop==0.14.0
vega==3.2.0
wasabi==0.6.0
wcwidth==0.1.9
webdriverdownloader==1.1.0.3
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
widgetsnbextension==3.5.1
yarl==1.4.2
zipp==3.1.0
